DEBUG = False
TESTING = False

SECRET_KEY = "a0c5af04b78149948e4a97572e691df4"

# mongoalchemy config
MONGOALCHEMY_DATABASE = "codewow"
MONGOALCHEMY_SERVER = "localhost"
MONGOALCHEMY_PORT = 27017
MONGOALCHEMY_USER = None
MONGOALCHEMY_PASSWORD = None
MONGOALCHEMY_SAFE_SESSION = False
MONGOALCHEMY_OPTIONS = None
MONGOALCHEMY_SERVER_AUTH = True

# babel config
ACCEPT_LANGUAGES = ['en', 'zh', 'zh_tw', 'zh_hk']
BABEL_DEFAULT_LOCALE = 'zh'
BABEL_DEFAULT_TIMEZONE = 'Asia/Shanghai'

# static path
STATIC_PATH = "http://s.codewoow.com/"

GOOGLEA = '''
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29718642-1']);
  _gaq.push(['_setDomainName', 'codewoow.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
'''
