<div class="rSection">
    {% if g.user %}
    <div class="rBackground">
        <a class="btnShare" href="{{ url_for('gist.create_gist') }}">{{ _("Share my code") }}</a>
        <div class="hr"></div>
        <div class="namecard">
            <div class="avatarBox">
                <div class="avatar">
                    <a href="{{ url_for('gist.user_gists', uid=g.user.pk) }}"><img src="{{ g.user.avatar_url or g.user.email|gravatar(50) }}"></a>
                </div>
                <a class="username" href="{{ url_for('gist.user_gists', uid=g.user.pk) }}">{{ g.user.nickname }}</a>
            </div>
            <div class="sumBox">
                <a class="shareCount" href="{{ url_for('gist.user_gists', uid=g.user.pk) }}">
                    <p>{{ g.user.gist_num }}</p><p>{{ _("share") }}</p>
                </a>
                <a class="followCount" href="{{ url_for('gist.followed_gists', uid=g.user.pk) }}">
                    <p>{{ g.user.follows|length }}</p><p>{{ _("follow") }}</p>
                </a>
            </div>
        </div>
        <div class="tagCloud2">
            {% for e in g.tags %}
            <a href="{{ url_for('home.tag', tag=e.name) }}">{{ e.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <a class="btnShare" href="{{ url_for('gist.create_gist') }}">{{ _("Share my code") }}</a>
    <div class="tagCloud2">
        {% for e in g.tags %}
        <a href="{{ url_for('home.tag', tag=e.name) }}">{{ e.name }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
