<div class="rSection">
    {% if g.user %}
    <div class="rBackground">
        <a class="btnShare" href="{{ url_for('gist.create_gist') }}">{{ _("Share my code") }}</a>
        <div class="hr"></div>
        <div class="namecard">
            <div class="avatarBox">
                <div class="avatar">
                    <a href="{{ url_for('gist.user_gists', uid=g.user.pk) }}"><img src="{{ g.user.avatar_url or g.user.email|gravatar(50) }}"></a>
                </div>
                <a class="username" href="{{ url_for('gist.user_gists', uid=g.user.pk) }}">{{ g.user.nickname }}</a>
            </div>
            <div class="sumBox">
                <a class="shareCount" href="{{ url_for('gist.user_gists', uid=g.user.pk) }}">
                    <p>{{ g.user.gist_num }}</p><p>{{ _("share") }}</p>
                </a>
                <a class="followCount" href="{{ url_for('gist.followed_gists', uid=g.user.pk) }}">
                    <p>{{ g.user.follows|length }}</p><p>{{ _("follow") }}</p>
                </a>
            </div>
        </div>
        <div class="tagCloud2">
            <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a><a href="#">豆瓣API</a><a href="#">jQuery</a><a href="#">google app engine</a><a href="#">macbok pro</a>
        </div>
    </div>
    {% else %}
    <a class="btnShare" href="{{ url_for('gist.create_gist') }}">{{ _("Share my code") }}</a>
    <div class="tagCloud2">
        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a><a href="#">豆瓣API</a><a href="#">jQuery</a><a href="#">google app engine</a><a href="#">macbok pro</a>
    </div>
    {% endif %}
</div>
