{% extends "layout.html" %}
{% from "macros/_page.html" import paginate %}
{% block content %}
<div id="content">
    {% include "gist/_card.html" %}
    <div class="lSection">
        <div class="articleList">
            {% for gist in page_obj.items %}
            <div class="listCell">
                <div class="avatar">
                    <a href="{{ url_for('gist.user_gists', uid=gist.author.pk) }}">
                        <img src="{{ gist.author.avatar or gist.author.email|gravatar(50) }}">
                    </a>
                </div>
                <div>
                    <h1><a href="{{ url_for('gist.detail_gist', gist_id=gist.pk) }}">{{ gist.desc }}</a></h1>
                    <div class="tagCloud1">
                        {% for tag in gist.tags %}
                        <a href="{{ url_for('home.tag', tag=tag) }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="{{ url_for('gist.detail_gist', gist_id=gist.pk) }}"><span>顶</span>{{ gist.flowers|length }}</a>
                        <a href="{{ url_for('gist.detail_gist', gist_id=gist.pk) }}"><span>踩</span>{{ gist.eggs|length }}</a>
                    </div>
                    <div>
                        {% if gist.author.pk != g.user.pk %}
                        {% if g.user.mongo_id in gist.followers %}
                        <a class="unfollow" href="{{ url_for('gist.follow_gist', gist_id=gist.pk) }}"><span></span>{{ _("unfollow") }}</a>
                        {% else %}
                        <a class="follow" href="{{ url_for('gist.follow_gist', gist_id=gist.pk) }}"><span></span>{{ _("follow") }}</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {{ paginate(page_obj, page_url) }}
    </div>
        
</div>
{% endblock %}
