{% extends "layout.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block content %}
<div id="content">
    <div class="rSection">
    </div>
    <div class="lSection">
        <form method="POST" class="shareCode">
            {{ form.hidden_tag() }}
            <div>
                {{ form.code_type.label }}
                {{ form.code_type }}
                {{ render_errors(form.desc) }}
                <div id="dorpDownWrapper">
                    <div class="dorpDownFire">
                        <p>plain text</p>
                        <div></div>
                    </div>
                    <div class="dorpDownList">
                        <div class="searchMenu"></div>
                        <ul class="searchResult">
                            <li>lalal</li>
                            <li>baba</li>
                            <li>bbbb</li>
                            <li>aaaaa</li>
                            <li>baba</li>
                            <li>bbbb</li>
                            <li>aaaaa</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                {{ form.desc.label }}
                {{ form.desc }}
                {{ render_errors(form.desc) }}
            </div>
            <div>
                {{ form.content.label }}
                {{ form.content(id="gistcontent") }}
                {{ render_errors(form.content) }}
            </div>
            <div>
                {{ form.tags.label }}
                {{ form.tags(class="tagInput") }}
                {{ render_errors(form.tags) }}
            </div>
            <div>
                <div class="tagCloud1">
                    {% for e in g.user.recommend_tags %}
                    <div><a href="#">{{ e.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <label></label>
                {{ form.submit(class="codeSubmit") }}
            </div>
        </form>
    </div>	
</div>
{% endblock %}
