{% extends "layout.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block content %}
<div id="content">
    <div class="rSection">
    </div>
    <div class="lSection">
        <form method="POST" class="shareCode">
            {{ form.hidden_tag() }}
            <div>
                {{ form.code_type.label }}
                {{ form.code_type }}
                {{ render_errors(form.desc) }}
            </div>
            <div>
                {{ form.desc.label }}
                {{ form.desc }}
                {{ render_errors(form.desc) }}
            </div>
            <div>
                {{ form.content.label }}
                {{ form.content }}
                {{ render_errors(form.content) }}
            </div>
            <div>
                {{ form.tags.label }}
                {{ form.tags(class="tagInput") }}
                {{ render_errors(form.tags) }}
            </div>
            <div>
                <div class="myTagCloud">
                    <div><span>python</span><a href="javascript:void(0);"></a></div>
                    <div><span>大并发</span><a href="#"></a></div>
                    <div><span>明明很高兴</span><a href="#"></a></div>
                    <div><span>python</span><a href="#"></a></div>
                    <div><span>大并发</span><a href="#"></a></div>
                    <div><span>明明很高兴</span><a href="#"></a></div>
                    <div><span>python</span><a href="#"></a></div>
                    <div><span>大并发</span><a href="#"></a></div>
                    <div><span>明明很高兴</span><a href="#"></a></div>
                </div>
            </div>
            <div>
                <label></label>
                {{ form.submit(class="codeSubmit") }}
            </div>
        </form>
    </div>	
</div>
{% endblock %}
