{% extends "layout.html" %}
{% from "macros/_forms.html" import render_errors %}
{% from "macros/_page.html" import paginate %}
{% block title %}{{ gist.title() }}{% endblock %}
{% block key %}{{ gist.keywords() }}{% endblock %}
{% block desc %}{{ gist.description() }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/pygments_styles.css') }}" >
{% endblock %}
{% block content %}
<div id="content">
        {% include "gist/_card.html" %}
        <div class="lSection">
            <div class="articleHeader {% if g.user.pk == gist.author.pk %}me{% endif %}">
                <div class="avatar">
                    <a href="{{ url_for('gist.user_gists', uid=gist.author.pk) }}"><img src="{{ gist.author.avatar_url or gist.author.email|gravatar(50) }}"></a>
                </div>
                <div class="userID"><a href="{{ url_for('gist.user_gists', uid=gist.author.pk) }}">{{ gist.author.nickname }}</a></div>
                {% if gist.permissions.delete.can() %}
                <a class="delete" title="{{ _("delete") }}" href="{{ url_for('gist.del_gist', gist_id=gist.pk) }}"><span></span></a>
                {% endif %}
                {% if g.user.pk == gist.author.pk %}
                <a class="edit" title="{{ _("edit") }}" href="{{ url_for('gist.edit_gist', gist_id=gist.pk) }}"><span></span></a>
                {% else %}
                    {% if g.user.mongo_id in gist.followers %}
                    <a class="unfollow" href="{{ url_for('gist.follow_gist', gist_id=gist.pk) }}"><span></span>{{ _("unfollow") }}</a>
                    {% else %}
                    <a class="follow" href="{{ url_for('gist.follow_gist', gist_id=gist.pk) }}"><span></span>{{ _("follow") }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="hr"></div>
            <div class="articleBody">
                <div class="codeBody">
                    <p>
                    {{ gist.desc }}</br></br>
                    {{ gist.content|code2html(gist.code_type)|safe }}
                    </p>
                </div>
                <div>
                    <div class="rankArea">
                        <div>
                            <a class="btnUp up" href="{{ url_for('gist.vote_gist', gist_id=gist.pk, op='up') }}" >{{ _("Good") }}</a>
                            <p>{{ gist.flowers|length }}</p>
                        </div>
                        <div>
                            <a class="btnDown down" href="{{ url_for('gist.vote_gist', gist_id=gist.pk, op='down') }}" >{{ _("Bad") }}</a>
                            <p>{{ gist.eggs|length }}</p>
                        </div>
                    </div>
                    <div class="tagCloud1">
                        {% for tag in gist.tags %}
                        <a href="{{ url_for('home.tag', tag=tag) }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="commentList">
                {% for r in page_obj.items %}
                <div class="commentCell">
                    <div class="avatar">
                        <a href="#"><img src="{{ r.author.avatar or r.author.email|gravatar(50) }}"></a>
                    </div>
                    <div>
                        <a href="#">{{ r.author.nickname }}</a>
                        <p>{{ r.content|safe }}</p>
                        <span>{{ r.created_time|timesince }}</span>
                    </div>
                    {% if r.permissions.delete.can()  %}
                    <div class="delete"><a href="{{ url_for("reply.del_reply", reply_id=r.pk) }}"></a></div>
                    {% else %}
                        {% if g.user %}
                    <div class="reply"><a href="#"></a></div>
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                {{ paginate(page_obj, page_url) }}
            </div>
            <div>
                <form method="POST" class="commentBox">
                    {{ form.hidden_tag() }}
                    {{ form.content }}
                    {{ render_errors(form.content) }}
                    {{ form.submit() }}
                </form>
            </div>
        </div>
</div>
{% endblock content %}
