{% extends "layout.html" %}
{% block content %}
<div id="content">
    {% include "gist/_card.html" %}
    <div class="lSection">
        <div class="profileBox">
            <div class="avatar">
                <a href="#"><img src="css/img/avatar3.png"></a>
            </div>
            <div>
                <a href="#">龙大要理发</a>
            </div>
            <div class="sumBox">
                <a class="shareCount" href="#">
                    <p>200</p><p>share</p>
                </a>
                <a class="followCount" href="#">
                    <p>2</p><p>follow</p>
                </a>
            </div>
        </div>
        <div class="hr"></div>
        <div class="articleList">
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1><a href="detail.html">如果是热爱旅游的iOS程序员来"去哪儿"吧</a></h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="unfollow" href="#"><span></span>unfollow</a>
                </div>
            </div>
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1><a href="detail.html">如果是热爱旅游的iOS程序员来"去哪儿"吧</a></h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="follow" href="#"><span></span>follow</a>
                </div>
            </div>
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1><a href="detail.html">如果是热爱旅游的iOS程序员来"去哪儿"吧</a></h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="follow" href="#"><span></span>follow</a>
                </div>
            </div>
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1><a href="detail.html">如果是热爱旅游的iOS程序员来"去哪儿"吧</a></h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="follow" href="#"><span></span>follow</a>
                </div>
            </div>
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1>
                        <a href="detail.html">如果是热爱旅游的iOS程序员来"去哪儿"吧</a>
                    </h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="follow" href="#"><span></span>follow</a>
                </div>
            </div>
            <div class="listCell">
                <div class="avatar">
                    <a href="profile.html">
                        <img src="css/img/avatar2.png">
                    </a>
                </div>
                <div>
                    <h1><a href="detail.html">如果是热爱旅游的iOS程序员就来"去哪儿"吧</a></h1>
                    <div class="tagCloud1">
                        <a href="#">问与答</a><a href="#">做个好孩子</a><a href="#">Python</a><a href="#">随想</a>
                    </div>
                </div>
                <div>
                    <div class="rank">
                        <a href="#"><span>顶</span>20</a>
                        <a href="#"><span>踩</span>30</a>
                    </div>
                    <a class="follow" href="#"><span></span>follow</a>
                </div>
            </div>
        </div>

        <div class="pageNav">
            <span>共5页</span>
                <a href="#">前页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <span class="current">3</span>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">后页</a>
        </div>

    </div>
        
</div>
{% endblock %}
