{% extends "layout.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block title %}{{ _("Edit Profile") }}{% endblock %}
{% block content %}
<div id="content">
        {% include "gist/_card.html" %}
        <div class="lSection">
            <form class="editProfile" method="POST">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.blog.label }}
                    {{ form.blog(size=30) }} {{ render_errors(form.blog) }}
                </div>
                <div>
                    {{ form.github.label }}
                    {{ form.github(size=30) }} {{ render_errors(form.github) }}
                </div>
                <!--
                <div>
                    <label>头像照片</label>
                    <p>
                        <span><img src="css/img/avatar3.png"></span>
                        <span><input type = "file"></span>
                    </p>
                </div>
                -->
                <div>
                    {{ form.brief.label }}
                    {{ form.brief() }} {{ render_errors(form.brief) }}
                </div>
                <div>
                    <label></label>
                    {{ form.submit }}
                    {#{ form.delete }#}
                </div>
            </form>
        </div>	
</div>
{% endblock %}
