{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div id="content">
			<div class="rSection">

			</div>
			<div class="lSection">
				<form class="btnLogin" action="" method="post">
                    {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
				    <p>
				      <input type="hidden" name="openid" value="google" size="30">
                      <input type="hidden" name="next" value="{{ next }}">
				      <input class="google" type="submit" value="Sign in with Google">
				  	</p>
				</form>
			</div>
				
		</div>
{% endblock %}
