<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="robots" content="all" />
    <meta name="Author" content="cloucry@gmail.com" />
    <meta name="Keywords" content="{% block key %}gist, share, search, code, program{% endblock %}"/>
    <meta name="Description" content="{% block desc %}a coe share follow site{% endblock %}" />
    <title>Code Woow{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ config['STATIC_PATH'] }}css/main.css" >
    {% block css %}{% endblock %}
    <script src="{{ config['STATIC_PATH'] }}js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="{{ config['STATIC_PATH'] }}js/codewoow.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
</head>
<body>
	<div class="wrapper">
		<div id="siteHeader">
			<div class="logoBox">
                <a href="{{ url_for('home.index') }}"> <img src="{{ config['STATIC_PATH'] }}css/img/logo.png"> </a>
			</div>
			<div class="searchBox">
                <form method="GET" action="{{ url_for('home.search') }}"
                    <span><input name="q" type="text" value="{{ q }}"></span>
                    <span><input class="btnSearch" type="submit" value="{{ _("Search") }}"></span>
				</form>
			</div>
            {% if get_flashed_messages() %}
            <div id="flashed">
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                <span class="flash-{{ category }}">{{ msg }}</span>
                {% endfor %}
            </div>
            {% endif %}
			<div class="navBox">
                {% if g.user %}
                <a class="userName" href="{{ url_for('account.edit_profile') }}"><span></span>{{ g.user.nickname }}</a>
                <a class="logout" href="{{ url_for('account.logout') }}"><span></span>{{ _("Sign Out") }}</a>
                {% else %}
                <a class="googleLogin" href="{{ url_for('account.login') }}"><span></span>{{ _("Sign In with OpenID") }}</a>
                {% endif %}
			</div>
		</div>
        {%- block content %}{%- endblock %}
		<div id="siteFooter"><span>2012©CodeWoow.com</span></div>
	</div>
</body>
</html>
